.wrapper {
  background: #fcfcfc;
}

.main-order-container {
  background: white;
}

.size {
  color: #000;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  padding: 0 40px 0 40px;
}

.hero-row {
  padding: 30px;
}

.optionsrow {
  margin: 20px;
  border: 1px solid #eee;
  padding: 25px;
}

.optionsrowpaddingnone {
  margin: 20px;
  border: 1px solid #eee;
  padding: 0;
}

.noborder {
  border: none;
}

.no-padding {
  padding: 0;
}

.selectedbox {
  border: 2px solid #eee;
  padding: 17px;
  cursor: pointer;
}